*{
    /* border:1px solid red; */
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    height: 100vh;
    /* border: 3px solid blue; */
}
/*--------------------------------- Menu css---------------- */
.menu{
    /* border:1px solid red; */
    background-color:rgba(181, 214, 235, 0.687);
    height:60px;
    display: flex;
    align-items: center;
}
.file-options, .formatting, .alignment{
    width: 20%;
    height: 80%;
    /* border: 1px solid purple; */
    border-right: solid 1px gray;
}
.file-options{
    flex:0.3;
}
.file-options{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.file-options>*{
    width: 30%;
    text-align: center;
    /* border: 1px solid red; */
}
.file-options i{
    font-size: larger;
    margin-bottom: 0.3rem;
}
.file-options .file-text{
    font-size: smaller;
    font-size: 60%;
    font-weight: 600;
}
.formatting{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/* .formatting>.subgroup{
    border: 1px solid red;
    width:60%;
    height: 100%;
} */

.subgroup{
    width:40%;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}
.subgroup>*{
    height: 45%;
}
.font-family-container select{
    width: 100%;
}
.style-options{
    display:flex;
    justify-content: space-around;
}

.style-options>*{
    width: 25%;
}
.font-size-container select{
    width: 100%;
}
.color-container{
    display:flex;
    justify-content: space-around;
}
.font-size-container select{
    width:90%;
    margin-left:0.25rem;
}
.color-container >*{
    width: 40%;
    height: 100%;
   }

.alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}
.alignment>*{
width:20%;
}

/* ------------------Formula-------------- */

.formula-bar{
    background-color:rgba(181, 214, 235, 0.687);

    height:30px;
    display: flex;
    align-items: center; 
    justify-content: space-around; 
}

.formula-bar input{
    height:70%;   
}   

.address{
    width:10%;
}
.formula-break{
    max-width:3%;
    min-height: 3%;
}
.formula{
    width:83%;
}
.formula-bar .formula-break{
    text-align: center;
}

/*------------- main area--------------- */
.main{
    height: calc(100vh - 80px);
    overflow: auto;
    position:relative;
}
.top-left{
    position: absolute;
    height: 1.5rem;
    width:4rem;
    background-color: rgb(145, 172, 189);
    z-index:3;
}
.cell{
    border:1px solid rgb(205, 217, 222);
    height: 1.5rem;
    min-width:4rem;
    text-align: center;
}
.top-row{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    top: 0px;
    left: 65px;
    background-color: rgb(189, 213, 228);
    z-index:2;
}
.left-col{
    position: absolute;
    top:1.5rem;
    background-color: rgb(189, 213, 228);
    z-index:2;
}
.left-col .cell{
    max-width:1.5rem;
    font-size: 80%;
}
.row{
    display: flex;
}
.grid{    
    position: absolute;
    top: 1.5rem;
    left: 4rem;
}
.selected{
    color:white;
    background-color: black;
}